body {
	background-image: url('https://wallpapersite.com/images/pages/pic_h/313.jpg');
	background-repeat: no-repeat;
	
}

#player1Select div {
	border: 5px solid green;
}

#enemiesSelect div {
	border: 5px solid black;
	background-color: red;
}

#player2Select div {
	border: 5px solid red;
	background-color: black;
	color:white;
}


.card {
	width: 100%;
	max-width: 200px;	
	display: block;
	float: left;
}

img {
	padding: 5px 10px;
	/* height: 180px;
	width: 180px; */
}
p {
	margin: auto;
}
#enemiesSelect{
	clear: both;
	color: white;
}
h1,h3 {
	clear:both;
}

